.box-table {
    /*display: contents !important;*/
    width: 100% !important;
    height: 100px !important;
    overflow-y: auto !important;
}

.w-100 {
    width: 100px !important;
}

.w-200 {
    width: 200px;
}

.w-10-p {
    width: 10%;
}

.w-60-p {
    width: 60%;
}

.w-70-p {
    width: 70% !important;
}

.w-20-p {
    width: 20% !important;
}

.w-30-p {
    width: 30% !important;
}