<div class="container">
    <table style="width: 98% !important;" matSort (matSortChange)="sortData($event)">
        <thead>
            <tr>
                <th class="w-70-p" mat-sort-header="clienteNome">Cliente / Assunto</th>
                <th class="w-10-p" mat-sort-header="modalidade">Modalidade</th>
                <th class="w-10-p" mat-sort-header="faturador">Faturador</th>
                <th class="w-10-p" mat-sort-header="total">Total</th>
            </tr>
        </thead>
    </table>
    <div style="width: 100% !important;" class="box-table">
        <table style="width: 100% !important;">
            <tr *ngFor="let dessert of sortedData">
                <td class="w-70-p p-0">{{dessert.clienteNome}} -{{dessert.assuntoNome}}</td>
                <td class="w-10-p p-0">{{dessert.modalidade}}</td>
                <td class="w-10-p p-0">{{dessert.faturador}}</td>
                <td class="w-10-p p-0">{{dessert.total}}</td>
            </tr>
        </table>  
    </div>
      
      
      <!-- Copyright 2019 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
</div>

