<mat-toolbar color="primary">
  <!--<a [routerLink]="['/']"><b>My Application</b></a>-->
</mat-toolbar>

<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer mode="side" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <mat-list>
          <mat-list-item routerLinkActive="active" class="item-menu row">
            <i class="material-icons md-48 ml-3">home</i><a class="text-dark mt-3" [routerLink]="['/']">Home</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLinkActive="active" class="item-menu row">
            <i class="material-icons md-48 ml-3">category</i><a class="text-dark mt-3" [routerLink]="['/categoria']">Categoria</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLinkActive="active" class="item-menu">
              <p routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></p>
          </mat-list-item>
        </mat-list>          
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
  </div>

</mat-drawer-container>