<mat-toolbar color="primary">
  <!--<a [routerLink]="['/']"><b>My Application</b></a>-->
</mat-toolbar>

<mat-drawer-container autosize>

  <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons md-48">menu</i></button>
  <mat-menu #menu="matMenu">
    <button routerLinkActive="active" mat-menu-item>
      <a [routerLink]="['/']">Home</a>
    </button>
    <button routerLinkActive="active" mat-menu-item>
      <a [routerLink]="['/categoria']">Categoria</a>
    </button>
    <button routerLinkActive="active" mat-menu-item>
      <a [routerLink]="['/about']">Sobre</a>
    </button>
  </mat-menu>

</mat-drawer-container>