<!--INICIO DO CONTEUDO-->
<div fxLayout="row" fxLayoutAlign="center center">


        <!-- Agora usamos o formGroup para controlar o form -->
        <form [formGroup]="orderForm" novalidate>
      
          <div >
            <div>
              <!-- Chamo o componente input passando os parametros de errorMessage, label e o próprio input -->
              <app-input errorMessage="Campo obrigatório e com 5 caracteres" label="teste Nome">
                <input type="text" class="form-control" formControlName="name" placeholder="Nome" autocomplete="off">
              </app-input>
            </div>
          </div>

          <div >
            <div> <!-- agora o formulário é orderForm -->
              <button (click)="save(orderForm.value)" class="btn btn-success pull-right" [disabled]="!orderForm.valid">
                <i class="fa fa-credit-card"></i> Concluir
              </button>
            </div>
          </div>

        </form>
      </div>
<!-- FIM DO CONTEUDO-->